[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "tinyfiledialogs-cmake"]
	path = tinyfiledialogs-cmake
	url = https://github.com/SavaLione/tinyfiledialogs-cmake.git
[submodule "vendor/nanogui-sdl"]
	path = vendor/nanogui-sdl
	url = https://github.com/dalerank/nanogui-sdl
[submodule "vendor/AudioFile"]
	path = vendor/AudioFile
	url = https://github.com/adamstark/AudioFile.git
